@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.logo-gray path {
  fill: #999AA0;
}
.logo-gray svg {
  height: 12px;
}
.bg-liner {
  background: rgb(249, 87, 251);
  background: linear-gradient(
    176deg,
    rgba(249, 87, 251, 1) 0%,
    rgba(11, 8, 41, 1) 100%
  );
}
